# Pyvista
panel

# Jupyter-book
jupyter-book
# Pin docutils due to https://github.com/executablebooks/jupyter-book/issues/1970#issuecomment-1466051277
docutils==0.17.1

# Meshio
meshio
--no-binary=h5py
h5py

# Visualization with pandas
seaborn
pandas

# Progress bar
tqdm

# Pyvista
pyvista[all]
