# Various jupyterlab components
setuptools
jupyterhub
jupyterlab
git+https://github.com/executablebooks/jupyter-book.git@master
ipywidgets==7.7.2  # See https://github.com/pyvista/pyvista/issues/3274

# Notebook conversion
nbconvert

# Meshio
meshio
--no-binary=h5py
h5py

# Visualization with pandas
seaborn
pandas

# Progress bar
tqdm
