# Various jupyterlab components
setuptools
jupyterhub
jupyterlab
jupyter-book
ipywidgets==7.7.2  # See https://github.com/pyvista/pyvista/issues/3274

# Notebook conversion
nbconvert==6.5.3

# Meshio
meshio
--no-binary=h5py
h5py

# Visualization with pandas
seaborn
pandas

# Progress bar
tqdm
